* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9eed3;
  color: #2e2e2e;
  font-family: "Cairo", "Poppins", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  opacity: 0.2;
  background-image: url("jewel.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  height: 100%;
  z-index: -1;
}
.header {
  padding-top: 100px;
}

header {
  position: absolute;
  top: 0;
  color: #c6a136;
  margin-bottom: 30px;
  background-color: #1e2a38;
  padding: 15px 0;
  border-radius: 8px;
  width: 100%;
}

.header-logo {
  width: 50px;
  height: 40px;
  position: absolute;
  left: 20px;
}

.a-container {
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 10px 0;
}

.btn {
  color: #ffffff;
  background-color: #c6a136;
  cursor: pointer;
  border: none;
  padding: 14px 5px;
  border-radius: 8px;
  width: min(80%, 300px);
  display: inline-block;
  text-decoration: none;
  transition: 0.2s;
}

.btn:hover {
  background-color: #e2c774;
  color: #1e2a38;
}

.fab {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background-color: #4b2e83;
  color: white;
  text-decoration: none;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.fab:hover {
  background-color: #6545b2;
  transform: translateY(-3px);
}

/* ========================= */
/* ===== MEDIA QUERY ====== */
/* ========================= */

@media (max-width: 768px) {
  body {
    font-size: 16px;
    padding: 10px;
    height: 100vh;
    width: 100%;
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    opacity: 0.2;
    background-image: url("jewel.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    height: 110%;
    z-index: -1;
  }

  .header {
    width: 100%;
  }
  header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .header-logo {
    width: 40px;
    height: auto;
    position: static; /* تمنعها من الخروج عن مكانها */
  }

  .a-container {
    width: 100%;
  }

  .btn {
    width: 70%;
    padding: 15px;
    font-size: 1rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    margin: 8px 0;
  }
}

@media (max-width: 480px) {
  body {
    width: 100%;
    overflow: hidden;
    height: 95vh;
  }
  body::before {
    content: "";
    position: fixed;
    top: 0;
    inset: 0;
    opacity: 0.2;
    background-image: url("jewel.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
    height: 125%;
    z-index: -1;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
  }

  header {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .a-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  h2 {
    width: 100%;
  }

  .btn {
    width: 70%;
  }

  .header-logo {
    width: 35px;
  }

  h1 {
    font-size: 1rem;
    width: 100%;
  }

  .fab {
    position: absolute;
    bottom: 4rem;
    right: 2rem;
    background-color: #4b2e83;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body::before {
    content: "";
    position: fixed;
    top: 0;
    inset: 0;
    opacity: 0.2;
    background-image: url("jewel.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
    height: 125%;
    z-index: -1;
  }

  .header {
    padding-top: 80px;
  }

  header {
    flex-direction: row;
    justify-content: center;

    padding: 15px;
  }

  .header-logo {
    width: 45px;
    height: auto;
  }

  .btn {
    width: 60%;
    padding: 18px;
    font-size: 1.1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    margin: 8px 0;
  }
}
